body {
    background: url(../image/restaurant_icons.png);
}
#guessLetter:focus::-webkit-input-placeholder {
    opacity: .2;
    transition: .2s;
}
#hangman {
    height: 50px;
}
#hangman .hangman-letters {
    border-bottom: 4px solid black;
    color: orangered;
    display: inline-block;
    margin: 0 2px;
    height: 40px;
    width: 30px;
}
#hangman .hangman-letters span {
    display: none;
    height: 40px;
}

#guessWrong .wrong-letters {
    border: 2px solid #333;
    color: #c91477;
    display: inline-block;
    margin: 10px 5px;
    padding: 10px;
    /* width: 30px; */
}